<div class="hero-unit">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>AxelBloccit is for fun</h2>
    <p>You should really give it a try, you can communicate with your friends and really jump into the world of AxelBloccit together</p>
  </div>
  <div class="span4">
    <h2>Tried of Reddit?</h2>
    <p>Axelbloccit is like reddit 2.0, I think anyway, give it try and see if its for you.</p>
  </div>
  <div class="span4">
    <h2>No but really? </h2>
    <p>This is the FUTURE, don't get left behind you'll regret it.</p>
  </div>
</div>